
    <h1>Product: {{title}}</h1>
    <h2>Price: £{{price}}</h2>
   


{{#if imgScr }}
<img src="/images/{{imgScr}}" alt="{{title}}" />
{{else}}
<img src="/images/placeholder.png" alt="{{title}}" />
{{/if}}
 
 <section>
     <h5>
         This product is available in the following sizes:
     </h5>
     <ul>
         {{#if sizes}}
         {{#each sizes}}
         <li>             
             <a href="#">{{this}}</a>
         </li>
         <li>
         {{/each}}
         {{else}}
          <li>
             <a href="#">None available</a>
         </li>
         {{/if}}
     </ul>
 </section>

